<div class="root__info-block">
  <div class="info-block__left info-block__category">
    <ul class="category__list">
      <li class="category__list__main info-block__capture">
        <a href="/">Главная</a></li>
      <li class="category__list__main info-block__capture">
        <a href="/">{{category}}</a></li>
      <li class="category__list__sub info-block__capture">
        <a href="{{href}}">{{name}}</a></li>
    </ul>
  </div>
</div>
<div class="advertisment-detail">
  <div class="advertisment-detail__main-info">
    <div class="advertisment-detail__main-info__main">
      <div class="advertisment-detail__main-info__main__text">
      <h3 class="advertisment-detail__main-info__main__text__name">
        {{name}}
      </h3>
      <button class="advertisment-detail__main-info__main__text__favourite" id="favBtn">
        <svg xmlns="http://www.w3.org/2000/svg" class = "advertisment-detail__main-info__main__text__favourite__icon"width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
</svg>
        Добавить в избранное
      </button>
      </div>
      <div class="slideshow-container advertisment-detail__main-info__main__gallery">
        <!-- Full-width images with number and caption text -->
        {{#each images}}
        <div class="mySlides fade advertisment-detail__main-info__main__gallery__image-block">
          <img class="advertisment-detail__main-info__main__gallery__image-block__image"src="{{this}}"/>
        </div>
        {{/each}}
        <!-- Next and previous buttons -->
        <a class="gallery__prev-button">&#10094;</a>
        <a class="gallery__next-button">&#10095;</a>
      </div>
      <br />

      <!-- The dots/circles -->
      <div class="advertisment-detail__main-info__main__dot-container">
        {{#each images}}
        <span class="dot"></span>
        {{/each}}
      </div>
    </div>
    <div class="advertisment-detail__main-info__shop">
      <p class="advertisment-detail__main-info__shop__price">
        Цена:
        {{price}}
        ₽
      </p>
      <button id="chatBtn" class="button advertisment-detail__main-info__button">Написать продавцу</button>
      <button id="addToCartBtn" class="button advertisment-detail__main-info__button">Добавить в корзину</button>
      <button id="editBtn" class="button advertisment-detail__main-info__button" style="display: none;">Редактировать</button>
      <div class="advertisment-detail__main-info__shop__salesman">
        <div class="advertisment-detail__main-info__shop__salesman__avatar">
          <a href="{{salesmanHref}}">
            <img src="{{salesmanAvatar}}" />
          </a>
        </div>
        <div class="advertisment-detail__main-info__shop__salesman__info">
          Продавец:
          <p
            class="advertisment-detail__main-info__shop__salesman__info__name advertisment-detail__capture"
          >
            {{salesmanName}}
            {{salesmanSurname}}</p>
          <p
            class="advertisment-detail__main-info__shop__salesman__info__started advertisment-detail__capture"
          >
            На сайте с
            {{salesmanCreatedAt}}</p>
          <div
            class="advertisment-detail__main-info__shop__salesman__info__rate"
          >
            <div
              class="advertisment-detail__main-info__shop__salesman__info__rate__star"
            >&#9733;</div>
            <p class="advertisment-detail__capture">{{salesmanRating}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="advertisment-detail__add-info">
    <div class="advertisment-detail__add-info__location">
      <div class="advertisment-detail__add-info__location__name-block">
        <p
          class="advertisment-detail__add-info__location__name-block_capture advertisment-detail__capture"
        >
          {{location}}
        </p>
        <label for="toogle_maps">Раскрыть карту</label>
      </div>
      <input
        class="advertisment-detail__add-info__location__toogle"
        type="checkbox"
        id="toogle_maps"
      />
      <div class="advertisment-detail__add-info__location__map">
        <div id="YMapsIDNewAd"></div>
      </div>
    </div>
    <div class="advertisment-detail__add-info__published-date-block">
      <p
        class="advertisment-detail__add-info__published-date advertisment-detail__capture"
      >
        Дата публикации:
        {{publishedAt}}
      </p>
    </div>
    <div class="advertisment-detail__add-info__condition-block">
      {{#if new}}
      <p
        class="advertisment-detail__add-info__condition advertisment-detail__capture"
      >
        Состояние: Новое
      </p>
      {{else}}
            <p
        class="advertisment-detail__add-info__condition advertisment-detail__capture"
      >
        Состояние: Б/У
      </p>
      {{/if}}
    </div>
    <div class="advertisment-detail__add-info__description-block">
      <label for="advertisment-detail__add-info__description">Описание:</label>
      <p
        class="advertisment-detail__add-info__description advertisment-detail__capture"
      > <br> {{description}}</p>
    </div>
  </div>
  <div class="advertisment-detail__similar_advertisments"></div>
</div>