
    <div class="chat_order_image-container">
      <img
        class="chat_order_image"
        src="{{image}}.webp"
        onerror="this.src = 'https://www.mirf.ru/wp-content/uploads/2021/05/JoJos-Bizarre-Adventure-12-1024x576.jpg';"
      />
    </div>
    <a class="chat_order_name" href="/ad/{{href}}">{{title}}</a>
    <p class="chat_order_location">{{location}}</p>
    <p class="chat_order_price">{{price}}</p>
