<div class="promotion" id="promotion">
  <div class="promotion__title">
    <span>{{promotion}}</span>
  </div>
  <div class="promotion-tariffs">
    <div class="promotion-tariffs-block">
      <div class="promotion-tariffs-block-body">
        <div class="promotion-tariffs-block__title">{{tariff}}</div>
        <div class="promotion-tariffs-block__type">{{base}}</div>
        <div class="promotion-tariffs-block-description">
          <ul class="promotion-tariffs-block-description__list">
            <li class="promotion-tariffs-block-description__item">{{lvl1Text}}</li>
          </ul>
        </div>
      </div>
      <div class="promotion-tariffs-block-footer">
        <div class="promotion-tariffs-block__price">
          <label for="promotion-tariff-price">2 ₽</label>
        </div>
        <div class="promotion-tariffs-block__button">
        </div>
      </div>
    </div>

    <div class="promotion-tariffs-block">
      <div class="promotion-tariffs-block-body">
        <div class="promotion-tariffs-block__title">{{tariff}}</div>
        <div class="promotion-tariffs-block__type">{{upgraded}}</div>
        <div class="promotion-tariffs-block-description">
          <ul class="promotion-tariffs-block-description__list">
            <li class="promotion-tariffs-block-description__item">{{lvl1Text}}</li>
            <li class="promotion-tariffs-block-description__item">{{lvl2Text}}</li>
          </ul>
        </div>
      </div>
      <div class="promotion-tariffs-block-footer">
        <div class="promotion-tariffs-block__price">
          <label for="promotion-tariff-price">5 ₽</label>
        </div>
        <div class="promotion-tariffs-block__button">
        </div>
      </div>
    </div>

    <div class="promotion-tariffs-block">
      <div class="promotion-tariffs-block-body">
        <div class="promotion-tariffs-block__title">{{tariff}}</div>
        <div class="promotion-tariffs-block__type">{{pro}}</div>
        <div class="promotion-tariffs-block-description">
          <ul class="promotion-tariffs-block-description__list">
            <li class="promotion-tariffs-block-description__item">{{lvl1Text}}</li>
            <li class="promotion-tariffs-block-description__item">{{lvl2Text}}</li>
            <li class="promotion-tariffs-block-description__item">{{lvl3Text}}</li>
          </ul>
        </div>
      </div>
      <div class="promotion-tariffs-block-footer">
        <div class="promotion-tariffs-block__price">
          <label for="promotion-tariff-price">8 ₽</label>
        </div>
        <div class="promotion-tariffs-block__button">
        </div>
      </div>
    </div>
    
  </div>
  <div class="promotion-back__btn">
      <button class="button-minor"> {{back}} </button>
  </div>
</div>