<div class="grid">
  {{#each adsArray}}
    <div class="card grid__card">
      {{#if canDelete}}
          <img class="card__delete" src="https://volchock.ru/static/img/remove.webp" width="35" height="35">
      {{/if}}

      <div class="card__content">
        <div class="card__content__image-container">
          <img
            class="card__content__image"
            src="{{image}}"
          />
        </div>
        <div class="card__content__capture-container">
          <p class="card__content__capture">{{name}}</p>
        </div>
      </div>
      <div class="card__info">
        <div class="card__info__location-container">
          <p class="card__info__location">{{location}}</p>
        </div>
        <div class="card__info__price-container">
          <p class="card__info__price">{{price}}</p>
        </div>
        {{#if canBuy}}
        <div class="card__info__buy-container">
          <p class="card-info__card_buy">{{buy}}</p>
        </div>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>